---
import { getCollection } from 'astro:content'
import { getPostsForCollection } from '@/server'
import PageLayout from '@/layouts/BaseLayout.astro'
import { PostPreview, CollectionHeader } from '@/components/pages'

export const prerender = true

export async function getStaticPaths() {
  const collections = await getCollection('postCollections')
  return collections.map((collection) => ({
    params: { id: collection.id },
    props: { collection }
  }))
}

const { collection } = Astro.props
const posts = await getPostsForCollection(collection)

const isEn = Astro.currentLocale === 'en'
const title = isEn && collection.data.title_en ? collection.data.title_en : collection.data.title
const description =
  isEn && collection.data.description_en ? collection.data.description_en : collection.data.description

const meta = {
  title,
  description
}
---

<PageLayout {meta}>
  <main class='mt-6 lg:mt-10'>
     <CollectionHeader {collection} />

     <section aria-label='Collection posts list' class='animate'>
        {posts.length > 0 ? (
            <ul class='flex flex-col gap-y-4 text-start'>
              {posts.map((post) => (
                <PostPreview {post} detailed />
              ))}
            </ul>
        ) : (
            <p>No posts found in this collection.</p>
        )}
     </section>
  </main>
</PageLayout>
