---
import { Image } from 'astro:assets'

import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import wechat from '@/assets/wechat-qrcode.jpg'
import config from '@/site-config'

import { Button, Icon } from '@/components/user'
import type { iconsType } from '@/types'

const headings = [
  { depth: 2, slug: 'projects', text: 'Projects' },
  { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <div class='mb-8 flex items-center justify-between'>
    <p class='text-muted-foreground'>如果你觉得我的项目还不错，可以赞助我，让我有动力继续做下去。</p>
    <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
      <Icon class='size-5' name='receive-money' slot='before' />
    </Button>
  </div>

  <h2 id='projects' class='mb-8 text-2xl font-semibold'>Projects</h2>
  <ProjectSection
    project={[
      {
        name: '项目 1',
        description: '项目描述 1。你可以在这里介绍项目的主要功能。',
        image: 'lumina.webp',
        links: [{ type: 'site', href: '#' }]
      },
      {
        name: '项目 2',
        description: '项目描述 2。你可以在这里介绍项目的主要功能。',
        image: 'byddl.webp',
        links: [
          { type: 'site', href: '#' },
          { type: 'github', href: '#' }
        ]
      }
    ]}
  />

  <!-- sponsorship -->
  <h2 id='sponsorship'>Sponsorship</h2>
  <p>请在赞助后留言或主动联系我，可以被放入赞助人列表，祝你开心。</p>
  <div class='flex flex-col justify-center gap-4 sm:flex-row'>
    {
      [
        { name: 'WeChat', icon: 'wechat-pay', image: wechat },
        { name: 'Alipay', icon: 'alipay', image: alipay }
      ].map((item) => (
        <div class='group relative justify-center overflow-hidden rounded-xl border bg-white'>
          <div class='absolute bottom-0 end-0 start-0 top-0 flex items-center justify-center transition-opacity group-hover:opacity-0'>
            <Icon class='size-20' name={item.icon as iconsType} />
          </div>
          <Image
            class='mx-auto my-0 max-w-60 opacity-30 blur-sm transition-opacity group-hover:opacity-100 group-hover:blur-none'
            src={item.image}
            alt={item.name}
            loading='lazy'
          />
        </div>
      ))
    }
  </div>
  <p>感谢这些人的支持：</p>
  <Sponsors
    sponsors={[
      { name: '赞助者 1', amount: '10.0', date: '202X-XX-XX' },
      { name: '赞助者 2', amount: '50.0', date: '202X-XX-XX' }
    ]}
  />
</PageLayout>

<script
  is:inline
  type='module'
  data-astro-rerun
  define:vars={{ npmCDN: config.npmCDN, walineServer: config.integ.waline.server }}
>
  const normalizePath = (path) => {
    if (path === '/') return path
    return path.endsWith('/') ? path.slice(0, -1) : path
  }

  const loadPageviewCount = async () => {
    const pageview = await import(`${npmCDN}/@waline/client@v3/dist/pageview.js`)
    pageview.pageviewCount({
      serverURL: walineServer,
      path: normalizePath(window.location.pathname)
    })
  }

  await loadPageviewCount()
</script>
